<div id="indexFooter">
	<div id="footerLogo">
		<img src="/images/logo.png" alt="" width="82" height="82" />
		MetaShort
	</div>
	<div id="footerAttribution">
		Developed with ❤️ by <a href="http://twitter.com/AlexWhiteDev">@AlexWhiteDev</a><br>
		MetaShort V0.1 <a href="/changelog"> View changelog</a>
	</div>
</div>