<div id="headerNavbar" class="navbar-expand-lg navbar-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a href="/"><img src="/images/logo.png" alt="" class="navbar-image-mobile"></a>
	<ul>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<li class="">
				<a href="mailto:devalexwhite@gmail.com" class="navbar-link">contact</a>
			</li>
			<li>
				<a href="/faqs" class="navbar-link">faqs</a>
			</li>
			<li>
				<a href="/"><img src="/images/logo.png" alt="" class="navbar-image"></a>
			</li>
			{% if not loggedIn %} 
				<li>
					<a href="/pro" class="navbar-link">signup</a>
				</li>
				<li>
					<a href="/login" class="btn btn-rounded btn-secondary navbar-link">login</a>
				</li>
			{% else %}
				<li>
					<a href="/account" class="navbar-link">account</a>
				</li>
				<li>
					<a href="/login?action=logout" class="btn btn-rounded btn-secondary navbar-link">logout</a>
				</li>
			{% endif %}
		</div>
	</ul>
</div>