{% extends 'master.twig' %}

{% block content %}
	<div class="container">
		<div class="mt-4 card">
			<h3 class="mt-4">What is this?</h3>
			<p class="lead">Hi there 👋 This is MetaShort! Think of it like your typical link shortener (similar to bit.ly or tinyurl), but with the added ability of customizing meta tags.</p>
			<h3 class="mt-4">But why?</h3>
			<p class="lead">Imagine you need to promote an event on Facebook and Twitter, but the event's page just has your company's standard, boring meta tags and images. That won't drive traffic very well, will it?</p>
			<p class="lead"><strong>Enter MetaShort</strong>. Take your company's event page and put it into MetaShort. Now you can customize your title, description, images and more to match the content of your page. No meetings, no change requests, no coding.</p>
			<h3 class="mt-4">Who built this?</h3>
			<div>
				<img src="/images/me.jpg" alt="" class="rounded-circle mr-4 float-right" width="150" height="150"></img>
				<p class="lead">I did! I'm Alex White, a web developer and UI designer. I build stuff and hope people use it. If this is something you find useful, or if you have any comments/suggestions, please tweet me <a href="https://twitter.com/AlexWhiteDev">@AlexWhiteDev</a>.</p>
			</div>
		</div>
	</div>
{% endblock %}