{% extends 'master.twig' %}

{% block content %}
	<div id="pageFaqs">
		<div class="container full-height">
			<h3>Frequently asked questions</h3>
			<h4>What does MetaShort do?</h4>
			<p class="lead">MetaShort lets you control the image and text that's displayed when your link is shared on social media.</p>
			<h4 class="mt-4">How does MetaShort change meta data?</h4>
			<p class="lead">When you enter a link in MetaShort you are given a new MetaShort link to share on social media. This link redirects to your original link, but you are able to customize the MetaShort link's title, description, image and more.</p>
			<h4 class="mt-4">Why wouldn't I just change the meta data in my code?</h4>
			<p class="lead">Sometimes users don't have the knowledge, permissions, or time needed to update meta data in code. Being able to instantly change meta data allows users to test different meta data for the same link, change meta data by the day or even hour, easily update the images shown in Twitter cards or on Facebook, and more.</p>
			<h4 class="mt-4">Can I update my link after I've already shared it?</h4>
			<p class="lead">Yes! <a href="/pro">Pro subscribers</a> can update any link they've created and all of their links are saved to their account for easy management.</p>
			<h4 class="mt-4">Can I customize my MetaShort URL?</h4>
			<p class="lead">Not at this moment, but we are working on this feature!</p>
			<h4 class="mt-4">I'd like to directly upload an image instead of using a link, can I do this?</h4>
			<p class="lead">Soon subscribers will be able to upload images to their heart's content.</p>
			<h4 class="mt-4">Is there a way to see statistics for a MetaShort link I have created?</h4>
			<p class="lead">You bet. <a href="/pro">Pro subscribers</a> have access to basic statistics for their MetaShort links. More detailed statistics are coming soon.</p>
			<h4 class="mt-4">I don't see [insert meta tag name here], can you add it?</h4>
			<p class="lead">Tweet <a href="https://twitter.com/AlexWhiteDev">@AlexWhiteDev</a> and he'll add it as fast as possible. Promise.</p>
			<h4 class="mt-4">Where can I leave feedback or make suggestions?</h4>
			<p class="lead">See the above answer ⬆ or use the chat bubble at the bottom-right of your screen.</p>
		</div>
	</div>
{% endblock %}